<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title><{$title}></title>
</head> 
<body>
<{$content}>
<{$date}>
<{*这是一个注释*}>
<br />

<!-- if else -->
<{if $name1 eq "Fred" && $name2 eq "ddd"}><{*这是一个判断*}>
	You are not allowed here
<{else}>
	Welcome, <font color="red"><{$name}>!</font>
<{/if}><{*判断end*}>

<br />

<!-- array 测试1 -->
<{$array.a}>
<{$array.b}>
<br />

<!-- array 测试2 -->
<{$Contacts[0]}>
<{$Contacts[1]}>

<br />

<!-- 对象测试 -->
<{$obj->a}>  <{$obj->b}>
<br />

<!-- section 循环测试-->
<{section name=customer loop=$id}>
	id: <{$id[customer]}><br>
	name: <{$name[customer]}><br>
	sex: <{$sex[customer]}><br>
	<p>
<{/section}>

<!-- foreach 循环测试-->
<{foreach from=$foreach name=outer item=xunhuan }>
    <{foreach key=array_key item=array_value from=$xunhuan}>
   11 <{$array_key}> : <{$array_value}> <br />
   <{$xunhuan.dd}> <br />
  	<{/foreach}>
<{/foreach}>




</body>
</html>